//- when help button is clicked, this dropdown menu appears
.menu
  a.foldr.item(href="http://allmende.io")
    i.icon.exchange
    | Hacking the Commons
  a.foldr.item(href="http://jonrichter.de")
    i.icon.exchange
    | About
  a.link.item(href="https://github.com/allmende/dossier.allmende.io",target="_blank")
    i.icon.github
    i.icon.forward.mail
    | Source Code
