//- white label: customize this menu for your community / organization
.menu
  a.link.item(href="http://allmende.io",target="iframe") allmende.io
    i.icon.globe
  .ui.accordion
    .title.item 各期黑客松
      i.icon.dropdown
    .content
      a.foldr.item(href="http://blog.geosemantik.de/") geo:semantik
        i.icon.exchange
      a.link.item(href="http://gartenkarte.de/",target="iframe") Berliner Gartenkarte
        i.icon.text.file.outline
